# TIEGCM analysis and visualization

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from netCDF4 import Dataset

In [3]:
from plotly.offline import plot, iplot
import plotly.graph_objs as go

from plotly.graph_objs import Layout

In [4]:
import plotly

In [5]:
import scipy
import numpy as np

from scipy.interpolate import griddata, LinearNDInterpolator

In [6]:
import pandas as pd

In [7]:
from tiegcm.util import *

In [8]:
plotly.offline.init_notebook_mode(connected=True)

In [9]:
directory = "../data/TIEGCM_CCMC/"

In [10]:
ls ../data/TIEGCM_CCMC/

my_stuff/    s010.nc      tiegcm.h     tiegcm_list

In [11]:
#pfile = directory + 'p001.nc'
sfile = directory + 's010.nc'
#print pfile
print sfile

../data/TIEGCM_CCMC/s010.nc

In [1]:
rootgrp = Dataset(sfile, 'r')

NameError: name 'Dataset' is not defined

In [13]:
dimensional = group_dimensional(rootgrp)
dimensional.keys()

['0-d', '3-d', '4-d', '1-d', '2-d']

In [14]:
describe(rootgrp, dimensional['0-d'])

,units,long_name,shape,min,max
timestep,seconds,timestep,(),60,60
p0,millibars,Reference pressure,(),5e-07,5e-07
p0_model,microbars,Reference pressure (as used by the model),(),0.0005,0.0005
grav,cm/s,gravitational acceleration,(),870,870
LBC,None,"Interface level of t,u,v lower boundary condition",(),-7,-7

In [15]:
np.array(rootgrp.variables['ut'])

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23.])

In [16]:
np.array(rootgrp.variables['day'])

array([174, 174, 174, 174, 174, 174, 174, 174, 174, 174, 174, 174, 174,
       174, 174, 174, 174, 174, 174, 174, 174, 174, 174, 174], dtype=int32)

In [17]:
describe(rootgrp, dimensional['1-d'])

,units,long_name,shape,min,max
time,minutes since 2012-6-13 0:0:0,time,"(24,)",1.296000e+04,1.434000e+04
lon,degrees_east,"geographic longitude (-west, +east)","(72,)",-1.800000e+02,1.750000e+02
lat,degrees_north,"geographic latitude (-south, +north)","(36,)",-8.750000e+01,8.750000e+01
lev,,midpoint levels,"(29,)",-6.750000e+00,7.250000e+00
ilev,,interface levels,"(29,)",-7.000000e+00,7.000000e+00
mlon,degrees_east,"magnetic longitude (-west, +east)","(81,)",-1.800000e+02,1.800000e+02
mlat,degrees_north,"magnetic latitude (-south, +north)","(97,)",-9.000000e+01,9.000000e+01
mlev,,magnetic midpoint levels,"(32,)",-8.250000e+00,7.250000e+00
imlev,,magnetic interface levels,"(32,)",-8.500000e+00,7.000000e+00
year,None,calendar year,"(24,)",2.012000e+03,2.012000e+03
day,None,calendar day,"(24,)",1.740000e+02,1.740000e+02
calendar_advance,None,calendar advance flag (1 if advancing calendar...,"(24,)",1.000000e+00,1.000000e+00
iter,None,"number of time steps from model time 0,0,0","(24,)",2.505600e+05,2.519400e+05
ntask_mpi,None,Number of MPI tasks,"(24,)",3.200000e+01,3.200000e+01
coupled_cmit,None,"1 if coupled with CISM/CMIT, 0 otherwise","(24,)",0.000000e+00,0.000000e+00
ut,hours,universal time (from model time hour and minute),"(24,)",0.000000e+00,2.300000e+01
f107d,1.e-22 W/m2/Hz,Daily 10.7 cm solar flux,"(24,)",8.862308e+01,9.605000e+01
f107a,1.e-22 W/m2/Hz,81-day average 10.7 cm solar flux,"(24,)",1.310268e+02,1.312047e+02
hpower,GW,Hemispheric power,"(24,)",1.775314e+01,6.753579e+01
ctpoten,kV,Cross-tail potential,"(24,)",2.192465e+01,9.394103e+01
Kp,None,Kp index,"(24,)",5.000000e-02,1.883333e+00
bximf,nT,BX component of IMF,"(24,)",1.708750e+00,5.694750e+00
byimf,nT,BY component of IMF,"(24,)",-5.640843e+00,1.681304e+00
bzimf,nT,BZ component of IMF,"(24,)",-5.441761e+00,5.006820e+00
swvel,km/s,Solar wind velocity,"(24,)",3.525951e+02,4.479087e+02
swden,cm3,Solar wind density,"(24,)",7.793750e-01,3.800089e+00
al,nT,Lower magnetic auroral activity index,"(24,)",1.000000e+36,1.000000e+36
colfac,None,ion/neutral collision factor,"(24,)",1.500000e+00,1.500000e+00
joulefac,None,joule heating factor,"(24,)",1.500000e+00,1.500000e+00
e1,ergs/cm2/s,Peak energy flux in noon sector of the aurora,"(24,)",1.577450e+00,3.308762e+00
e2,ergs/cm2/s,Peak energy flux in midnight sector of the aurora,"(24,)",2.952846e+00,8.428937e+00
h1,degrees,Gaussian half-width of the noon auroral oval,"(24,)",2.350000e+00,2.350000e+00
h2,degrees,Gaussian half-width of the midnight auroral oval,"(24,)",3.502531e+00,4.188395e+00
alfac,keV,Characteristic Maxwellian energy of polar cusp...,"(24,)",1.000000e-01,1.000000e-01
ec,ergs/cm**2/s,Column energy input of polar cusp electrons,"(24,)",7.178921e-02,1.384980e-01
alfad,keV,Characteristic Maxwellian energy of drizzle el...,"(24,)",5.000000e-01,5.000000e-01
ed,ergs/cm**2/s,Column energy input of drizzle electrons,"(24,)",1.185188e-02,4.172147e-02
crit1,deg,critical cross-over latitude 1,"(24,)",1.718080e+01,2.066914e+01
crit2,deg,critical cross-over latitude 2,"(24,)",3.218080e+01,3.566914e+01

Each file represents 8 hours  of simulation time. There are 24 time steps in each file, corresponding to one step every 20 minutes.

In [18]:
rootgrp.variables['time']

<type 'netCDF4._netCDF4.Variable'>
float64 time(time)
    long_name: time
    units: minutes since 2012-6-13 0:0:0
    initial_year: 2012
    initial_day: 165
    initial_mtime: [165   0   0]
unlimited dimensions: time
current shape = (24,)
filling on, default _FillValue of 9.96920996839e+36 used

In [19]:
describe(rootgrp, 
         ['time', 'ilev', 'lev','lat', 'lon'], 
         ['units', 'short_name', 'long_name', 'shape', 'formula'])

,units,short_name,long_name,shape,formula,min,max
time,minutes since 2012-6-13 0:0:0,None,time,"(24,)",None,12960.00,14340.00
ilev,,ln(p0/p),interface levels,"(29,)",p(k) = p0 * exp(-ilev(k)),-7.00,7.00
lev,,ln(p0/p),midpoint levels,"(29,)",p(k) = p0 * exp(-lev(k)),-6.75,7.25
lat,degrees_north,None,"geographic latitude (-south, +north)","(36,)",None,-87.50,87.50
lon,degrees_east,None,"geographic longitude (-west, +east)","(72,)",None,-180.00,175.00

### 2D variables

In [20]:
start_year = 2012
start_day = 165

def to_date(year, doy):
    return pd.to_datetime(str(year) + str(doy),format ='%Y%j')
to_date(start_year, start_day)

Timestamp('2012-06-13 00:00:00')

In [21]:
pd.Timedelta(hours = 3.5)

Timedelta('0 days 03:30:00')

In [22]:
rootgrp.variables['year'][[0, -1]]

masked_array(data=[2012, 2012],
             mask=False,
       fill_value=999999,
            dtype=int32)

In [23]:



def get_time_range(self):
    start_year = self.rootgrp.variables['year'][0]
    start_day = self.rootgrp.variables['day'][0]
    end_ut = self.rootgrp.variables['ut'][-1]
    start = to_date(start_year, start_day)
    end = start + pd.Timedelta(hours = end_ut)
    return start, end

#get_time_range(tiegcm)

In [24]:
describe(rootgrp, dimensional['2-d'])

,units,long_name,shape,min,max
mtime,"day, hour, minute","model times (day, hour, minute)","(24, 3)",0,174
write_date,None,Date and time each history was written,"(24, 24)",None,None
dtide,None,"amplitude and phase of diurnal tide mode (1,1)","(24, 2)",0,0
sdtide,None,amplitudes and phases of semi-diurnal tide,"(24, 10)",0,0
ncep_ncfile,None,ncep data file,"(24, 1024)",None,None
gpi_ncfile,None,GeoPhysical Indices data file,"(24, 1024)",None,None
saber_ncfile,None,SABER lbc data file,"(24, 1024)",None,None
tidi_ncfile,None,TIDI lbc data file,"(24, 1024)",None,None
bgrddata_ncfile,None,background lbc data file,"(24, 1024)",None,None
ctmt_ncfile,None,CTMT lbc data file,"(24, 1024)",None,None
see_ncfile,None,TIMED SEE data file,"(24, 1024)",None,None
imf_ncfile,None,IMF data file,"(24, 1024)",None,None
gswm_mi_di_ncfile,None,GSWM migrating diurnal tides data file,"(24, 1024)",None,None
gswm_mi_sdi_ncfile,None,GSWM migrating semi-diurnal tides data file,"(24, 1024)",None,None
gswm_nm_di_ncfile,None,GSWM non-migrating diurnal tides data file,"(24, 1024)",None,None
gswm_nm_sdi_ncfile,None,GSWM non-migrating semi-diurnal tides data file,"(24, 1024)",None,None
mag,degrees,"lat,lon coordinates of S,N magnetic poles","(2, 2)",--,--

### 3D shape
3d arrays correspond in shape to [time, lat, lon]

In [25]:
describe(rootgrp, dimensional['3-d'])

tiegcm/util.py:119: UserWarning:

WARNING: missing_value not used since it
cannot be safely cast to variable data type

tiegcm/util.py:120: UserWarning:

WARNING: missing_value not used since it
cannot be safely cast to variable data type

,units,long_name,shape,min,max
TEC,1/cm2,TEC: Total Electron Content,"(24, 36, 72)",1.734218e+12,3.683013e+13
QJOULE_INTEG,erg/cm2/s,Height-integrated Joule Heating,"(24, 36, 72)",1.406888e-04,3.379105e+01
EFLUX,erg/cm2/s,Aurora Energy Flux,"(24, 36, 72)",0.000000e+00,8.400048e+00
HMF2,km,HMF2: Height of the F2 Layer,"(24, 36, 72)",1.219610e+02,4.385071e+02
NMF2,1/cm3,NMF2: Peak Density of the F2 Layer,"(24, 36, 72)",6.847735e+04,1.677690e+06
TLBC,K,Lower boundary condition of TN,"(24, 36, 72)",1.687739e+02,1.975680e+02
ULBC,cm/s,Lower boundary condition of UN,"(24, 36, 72)",-3.705093e+03,3.401104e+03
VLBC,cm/s,Lower boundary condition of VN,"(24, 36, 72)",-4.050389e+03,5.230474e+03
TLBC_NM,K,Lower boundary condition of TN (TIME N-1),"(24, 36, 72)",1.687814e+02,1.977769e+02
ULBC_NM,cm/s,Lower boundary condition of UN (TIME N-1),"(24, 36, 72)",-3.708268e+03,3.393032e+03
VLBC_NM,cm/s,Lower boundary condition of VN (TIME N-1),"(24, 36, 72)",-4.112765e+03,5.281499e+03

4-d shape corresponds to [time, ilev, lat, lon]

In [26]:
describe(rootgrp, dimensional['4-d'])

,units,long_name,shape,min,max
TN,K,NEUTRAL TEMPERATURE,"(24, 29, 36, 72)",1.524184e+02,1.000000e+36
UN,cm/s,NEUTRAL ZONAL WIND (+EAST),"(24, 29, 36, 72)",-4.553339e+04,1.000000e+36
VN,cm/s,NEUTRAL MERIDIONAL WIND (+NORTH),"(24, 29, 36, 72)",-5.680246e+04,1.000000e+36
O1,mmr,ATOMIC OXYGEN,"(24, 29, 36, 72)",2.730421e-03,9.607918e-01
NO,mmr,NITRIC OXIDE,"(24, 29, 36, 72)",1.000000e-12,1.182474e-03
N4S,mmr,N4S,"(24, 29, 36, 72)",1.000000e-12,2.171617e-02
HE,mmr,HELIUM,"(24, 29, 36, 72)",1.141782e-06,8.013048e-01
NE,cm-3,ELECTRON DENSITY,"(24, 29, 36, 72)",7.987234e+02,1.675506e+06
TE,K,ELECTRON TEMPERATURE,"(24, 29, 36, 72)",1.524270e+02,1.000000e+36
TI,K,ION TEMPERATURE,"(24, 29, 36, 72)",1.524231e+02,1.000000e+36
O2,mmr,MOLECULAR OXYGEN,"(24, 29, 36, 72)",9.727337e-07,2.311716e-01
O2P_ELD,None,None,"(24, 29, 36, 72)",0.000000e+00,1.524839e+05
OMEGA,s-1,VERTICAL MOTION,"(24, 29, 36, 72)",-1.662111e-04,2.213153e-04
POTEN,volts,ELECTRIC POTENTIAL,"(24, 29, 36, 72)",-5.262296e+04,4.517695e+04
UI_ExB,cm/s,UI: Zonal ExB Velocity,"(24, 29, 36, 72)",-7.653620e+04,8.894641e+04
VI_ExB,cm/s,VI: Meridional ExB Velocity,"(24, 29, 36, 72)",-8.528755e+04,7.253960e+04
WI_ExB,cm/s,WI: Vertical ExB Velocity,"(24, 29, 36, 72)",-1.738737e+04,1.757710e+04
OP,cm-3,O+ ION,"(24, 29, 36, 72)",0.000000e+00,1.665407e+06
N2P_ELD,None,None,"(24, 29, 36, 72)",-6.866907e-01,1.179827e+04
NPLUS,None,None,"(24, 29, 36, 72)",-4.613547e+02,1.530484e+04
NOP_ELD,None,None,"(24, 29, 36, 72)",-5.021695e-02,2.022098e+05
SIGMA_PED,S/m,SIGMA_PED: Pedersen Conductivity,"(24, 29, 36, 72)",2.645205e-10,1.000000e+36
SIGMA_HAL,S/m,SIGMA_HAL: Hall Conductivity,"(24, 29, 36, 72)",1.190514e-15,1.000000e+36
DEN,g/cm3,Total Density,"(24, 29, 36, 72)",6.110899e-17,1.124027e-09
QJOULE,erg/g/s,QJOULE: Joule Heating,"(24, 29, 36, 72)",2.584277e-06,1.000000e+36
Z,cm,GEOPOTENTIAL HEIGHT,"(24, 29, 36, 72)",9.579629e+06,6.553338e+07
ZG,cm,Geometric Height ZG,"(24, 29, 36, 72)",9.579629e+06,6.349651e+07
O_N2,none,O/N2 RATIO,"(24, 29, 36, 72)",3.564068e-03,8.741028e+05
N2D_ELD,None,None,"(24, 29, 36, 72)",-1.693239e-05,2.181445e-03
O2N,None,None,"(24, 29, 36, 72)",1.015442e+00,1.000000e+36
N2N,None,None,"(24, 29, 36, 72)",1.179908e+00,1.000000e+36
ZMAG,km,ZMAG from pdynamo,"(24, 32, 97, 81)",9.000000e+01,1.000000e+36

In [27]:
rootgrp.variables['O2N']

<type 'netCDF4._netCDF4.Variable'>
float32 O2N(time, lev, lat, lon)
    missing_value: 1e+36
unlimited dimensions: time
current shape = (24, 29, 36, 72)
filling on, default _FillValue of 9.96920996839e+36 used

In [28]:
rootgrp.variables['N2N']

<type 'netCDF4._netCDF4.Variable'>
float32 N2N(time, lev, lat, lon)
    missing_value: 1e+36
unlimited dimensions: time
current shape = (24, 29, 36, 72)
filling on, default _FillValue of 9.96920996839e+36 used

In [29]:
lat = np.array(rootgrp.variables['lat'])
lon = np.array(rootgrp.variables['lon'])
ilev = np.array(rootgrp.variables['ilev'])

In [30]:
z = np.array(rootgrp.variables['ZG'])

/Users/zwaldron/anaconda3/envs/kamodo/lib/python2.7/site-packages/ipykernel_launcher.py:1: UserWarning:

WARNING: missing_value not used since it
cannot be safely cast to variable data type

In [31]:
limits = pd.DataFrame(dict(latitude = [lat.min(), lat.max()], 
                           longitude = [lon.min(), lon.max()],
                          z =[ z.min(), z.max()]), index = ['min', 'max'])
limits

     latitude  longitude           z
min     -87.5     -180.0   9579629.0
max      87.5      175.0  63496512.0

In [32]:
point = (0, 0, (z.max() + z.min())/2)
point

(0, 0, 36538072.0)

In [33]:
from collections import namedtuple

In [34]:
Point4D = namedtuple("Point4D", ['time','height', 'latitude','longitude'])
Point3D = namedtuple("Point3D", ['height', 'latitude','longitude'])
Point2D =  namedtuple("Point2D", ['latitude','longitude'])

point = Point3D( height=41175836.0, latitude=87, longitude=170)
point2D = Point2D(latitude=87, longitude=170)

In [35]:
point
Point3D

__main__.Point3D

# Visualize results from tiegcm

## Fixed height interpolation

In [36]:
lat, lon = np.meshgrid(tiegcm.lat[1:-1], tiegcm.lon)

NameError: name 'tiegcm' is not defined

In [ ]:
z_mid = 400*1e3*1e2 #cm

In [ ]:
points = [Point3D(z_mid, p[0], p[1]) for p in zip(lat.ravel(), lon.ravel())]
points[330]
print len(points)

In [ ]:
points[0]

In [ ]:
variable = 'DEN'

In [ ]:
ne = [tiegcm.time_interpolate(p, variable, 3.5) for p in points]

In [ ]:
min(ne), max(ne)

In [ ]:
phi = lon*np.pi/180
phi.min(), phi.max()

In [ ]:
theta = lat*np.pi/180
theta.min(), theta.max()

In [ ]:
r_E = 637.1e6
r = (r_E + z_mid)/r_E
r

In [ ]:
x = r * np.cos(theta) * np.cos(phi)
y = r * np.cos(theta) * np.sin(phi)
z = r * np.sin(theta)

In [ ]:
lat.shape

In [ ]:
np.array(ne).max()

In [ ]:
trace1 = go.Surface(
    x = x,
    y = y,
    z = z,
    surfacecolor = np.array(ne).reshape(lat.shape),
    colorbar = dict(title = variable + ' [gm/cm3]')
)

In [ ]:
def to_range(x, start, limit):
    result  = start + (x - start) % (limit - start)
    print x, '->', [start, limit], '=', result
    return result
    

r = [0, 2.5]
to_range(3.0, *r)
to_range(-.1, *r)

In [ ]:
r = [-180, 180]
to_range(185, *r)
to_range(-185,*r)

In [ ]:
r = [tiegcm.lon.min(), tiegcm.lon.max()]
to_range(180, *r)
to_range(170, *r)
to_range(176, *r)

We need to get the min longitude slice and append it to the variable

In [ ]:
fig = go.Figure(data=[trace1], layout = go.Layout(title = 'TIEGCM'))

iplot(fig)

The above interpolation is linear using a deluanay triangulation in lat, lon, z. You should probably be doing the interpolation in R-3 by converting from lat, lon, z, to x,y,z. This means the convex hull rule will provide interpolations all the way to the center of the earth.

For time interpolation, you should probably use two time steps at a time?

# Fortran interpolator

look at  htint.F in in  /ccmcshare/MODELS_at_CCMC/TIEGCM/tgcmproc2.3_f90  and tgcmproc2.9_idl.

### htint.F header

```fortran

ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc
c
c Routines to do linear or log interpolation of gcm fields to 
c a linear height scale. Dimensions of fin, fht, and fout vary
c depending on routine called.
c
c glbhtint() is global height interpolator:
c   fin and fht (nlon,nzp,nlat) = global input and gcm heights fields
c   fout(nlon,nlat,nhts) = global interpolated field returned
c
c glbhtin() is same as glbhtint except that the intput fields fin and fht
c   are dimensioned (nlon,nlat,nzp) rather than (nlon,nzp,nlat). This is
c   more convenient for some codes, e.g. "super_procs" gcm8proc, gcm9proc,
c   etc.
c
c cuthtint() is height interpolator at some slice of the grid (e.g.,
c   along a latitude (idim1 = imx) or longitude (idim1 = jmx)
c   fin and fht (idim1,nzp) = input and gcm heights fields (at some cut)
c   fout(idim1,nhts) = interpolated field returned
c
c intloc() interpolates fields at some location (lat,lon gcm grid point)
c   
c Inputs common to all routines (dimensions vary):
c
c   fin: the gcm field at constant pressures
c   fht: gcm heights at constant pressures
c   hts: the height scale at which to do the interpolation
c   nhts: number of heights in hts
c   logint: if logint > 0, do log (exponential) interpolation, 
c           otherwise linear  
c   spval: if != 0., is special value returned in fout if 
c          ht(i) > max gcm height, or ht(i) < min gcm height. 
c          if = 0., extrapolation will be attempted if ht(i) out of range
c   iprnt: print stuff out if > 0 (e.g., if spval is used)
c
c Outputs common to all routines (dimension of fout varies):
c
c   fout: returned field, interpolated to desired height scale
c   ier: non-zero if an error has occurred
c
c Required routines:
c   fminmax(), bracket()
c
c Ben Foster (ncar/hao)
c foster@ncar.ucar.edu
c 303-497-1595
c
ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc
c
```
### subroutine glbhtint

```fortran
c
c Do linear or log interpolation of fin to constant height surfaces
c   in hts(nhts). Interpolated field returned in fout.
c
c On input:
c   fin(nlon,nzp,nlat) = global input field
c   fht(nlon,nzp,nlat) = global heights field
c   nlon,nzp,nlat = dimensions of fin and fht
c   hts(nhts) = heights at which to interpolate
c   logint <= 0 -> do linear interpolation,
c                  otherwise do exponential (log) interpolation
c   spval: If spval is non-zero and hts(k) is not within fht range
c          at the current grid point, then fout gets spval at the
c          current grid point.
c          If spval=0 and hts(k) is out of range, then
c          fout will be extrapolated to hts(k)
c   iprnt = 1 -> some error msgs will be printed if necessary
c
c On output:
c   fout(nlon,nlat,nhts) = contains interpolated field
c   ier = non-zero if an error has occurred
c
dimension fin(nlon,nzp,nlat),fht(nlon,nzp,nlat),
+  fout(nlon,nlat,nhts),hts(nhts)
dimension col(nzp)
c
do j=1,nlat
do i=1,nlon
          col(:) = fht(i,:,j)
          call fminmax(col,nzp,htmin,htmax)
          do k=1,nhts
            if (hts(k).lt.htmin.or.hts(k).gt.htmax) then
              if (spval.ne.0.) then
                fout(i,j,k) = spval
                goto 100
              else
                k0 = nzp-1
                k1 = nzp
              endif
            else
              call bracket(hts(k),col,nzp,1,k0,k1,ierr)
              if (ierr.ne.0) then
                if (iprnt.gt.0) write(6,"('glbhtint: error from',
     +            ' bracket: i j=',2i3,' k=',i3,' hts(k)=',f8.2,
     +            ' hts col=',/(6f10.3))") i,j,k,hts(k),col
                fout(i,j,k) = spval
                goto 100
              endif
            endif
c
c Do linear or log interpolation:
c
            if (logint.gt.0) then
              if (fin(i,k1,j).gt.0..and.fin(i,k1,j).ne.spval.and.
     +            fin(i,k0,j).gt.0..and.fin(i,k0,j).ne.spval) then
                exparg = (alog(fin(i,k1,j) / fin(i,k0,j)) /
     +                   (col(k1)-col(k0))) * (hts(k)-col(k0))
                fout(i,j,k) = fin(i,k0,j)*exp(exparg)
              else
                fout(i,j,k) = spval
              endif
            else
              f1 = (hts(k)-col(k0)) / (col(k1)-col(k0))
              fout(i,j,k) = f1*fin(i,k1,j) + (1.-f1)*fin(i,k0,j)
            endif
 100        continue
          enddo
        enddo
      enddo
      return
      end
c
```

### subroutine fminmax(f,n,rmin,rmax)
```fortran
!
! Return min and max of array f(n), excluding any values == spval:
!
      use proc, only: spval
      implicit none
      integer, intent(in)  :: n
      real,    intent(in)  :: f(n)
      real,    intent(out) :: rmin,rmax
      integer i
!
!     rmin = spval
!     rmax = -spval
!
! On dataproc with 4-byte reals, huge(x) = 0.34028235E+39
      rmin = huge(rmin)
      rmax = -rmin
      do i=1,n
        if (f(i).ne.spval.and.f(i).gt.rmax) rmax = f(i)
        if (f(i).ne.spval.and.f(i).lt.rmin) rmin = f(i)
      enddo
      return
      end subroutine fminmax
```

### subroutine bracket(x,xx,nx,inc,n1,n2,ier)
```fortran   
      implicit none
!
! Bracket x in xx(nx), returning lower index in n1 and upper index in n2
! If inc > 0 -> array increases from bottom to top,
! If inc <= 0 -> array increases from top to bottom
!
      integer,intent(in) :: nx,inc
      integer,intent(out) :: n1,n2,ier
      real,intent(in) :: x,xx(nx)
      integer :: i
!
! Array increases from bottom to top:
      ier = 0
      if (inc.gt.0) then
        if (x.lt.xx(1)) then
          n1 = 1
          n2 = 2
          ier = 1
          return
        endif
        if (x.gt.xx(nx)) then
          n1 = nx-1
          n2 = nx
          ier = 2
          return
        endif
        do i=1,nx-1
          if (x.ge.xx(i).and.x.le.xx(i+1)) then
            n1 = i
            n2 = i+1
            return
          endif
        enddo
!
! Array increases from top to bottom:
      else
        if (x.gt.xx(1)) then
          n1 = 1
          n2 = 2
          ier = 3
          return
        endif
        if (x.lt.xx(nx)) then
          n1 = nx-1
          n2 = nx
          ier = 4
          return
        endif
        do i=1,nx-1
          if (x.le.xx(i).and.x.ge.xx(i+1)) then
            n1 = i
            n2 = i+1
            return
          endif
        enddo
      endif
      return
      end subroutine bracket

```

# Binding interpolator functions to C++

http://pybind11.readthedocs.io/en/master/advanced/pycpp/object.html

## Compiling and importing a c++ module into python with cppimport
https://github.com/tbenthompson/cppimport

All the steps can be performed in python using the following
```python
import cppimport
somecode = cppimport.imp("somecode") #This will pause for a moment to compile the module
somecode.square(9)
81
```

## Compiling with cmake
CMakeLists.txt:

```cmake
cmake_minimum_required(VERSION 2.8.12)
project(example)
set(PYBIND11_CPP_STANDARD -std=c++11)
add_subdirectory(pybind11)
pybind11_add_module(example example.cpp)

```
Then compile with these steps
```console
(sunpy):mkdir build
(sunpy):cd build
(sunpy):cmake .. -DPYBIND11_PYTHON_VERSION=2.7 -DCMAKE_CXX_COMPILER=clang -DCMAKE_C_COMPILER=clang -DCMAKE_LIBRARY_OUTPUT_DIRECTORY=..
(sunpy):make
```
Then import from python
```python
import example
example.add(3,5)
```

In [ ]:
import ccmc_interpolator

In [ ]:
from collections import namedtuple

In [ ]:
tiegcm = ccmc_interpolator.TIEGCM_cpp('sample_data/jasoon_shim_052317_IT_10/out/s001.nc')

In [ ]:
tiegcm.name

In [ ]:
z_test = 39005780.

In [ ]:
Point3D = namedtuple("Point3D", ['height', 'latitude','longitude'])
Point4D = namedtuple("Point4D", ['height','latitude','longitude', 'time'])

In [ ]:
point = Point4D(z_test,  87.,  170., 3.5 )

In [ ]:
tiegcm.interpolate('NE', *point)

In [ ]:
result

# Interpolation at the poles

Currently this results in a qhull error. Apparently, there are no cells that reach the poles. We will fill these using Lutz's algorithm.

    ; at-pole boundary conditions
    for iq=0,n_q-1 do begin
    ; pole_bc=0: zero value
        if pole_bc[iq] eq 0 then begin
            fields[iq,*,0,*]=0.
            fields[iq,*,ny_blk-1,*]=0.
        endif
    ; pole_bc=1: average value that Masha mentioned
        if pole_bc[iq] eq 1 then begin
            for iz=0,nz_blk-1 do begin
                fields[iq,*,0,iz]=total(fields[iq,0:nx_blk-2,1,iz])/(nx_blk-1)
                fields[iq,*,ny_blk-1,iz]=total(fields[iq,0:nx-2,ny_blk-2,iz])/(nx_blk-1)
            endfor
        endif
    ; pole_bc=2: no-derivative 
        if pole_bc[iq] eq 2 then begin
                fields[iq,*,0,*]       =fields[iq,*,1,*]
                fields[iq,*,ny_blk-1,*]=fields[iq,*,ny_blk-2,*]
        endif
    endfor

Variable polar boundary coditions

    Variable          pole_bc
    T_n       1
    Vn_Lon       2
    Vn_Lat       2
    rho(O)       1
    rho(NO)       1
    rho(N4S)       1
    HE       1
    N_e       1
    T_e       1
    T_i       1
    TEC       1
    rho(O2)       1
    O2P_ELD       1
    Omega       1
    PHI       1
    Vi_Lon       2
    Vi_Lat       2
    Vi_IP       1
    N(O+)       1
    N(N2+)       1
    N(N+)       1
    N(NO+)       1
    SIGMA_PED       1
    SIGMA_HAL       1
    DEN       1
    QJOULE       1
    Z       1
    ZG       1
    O_N2       1
    QJOULE_INTEG       1
    EFLUX       1
    HMF2       1
    NMF2       1
    N2D_ELD       1
    O2N       1
    N2N       1
    T_lbc       1
    Vlbc_Lon       2
    Vlbc_Lat       2
    TN_lbc       1
    VN,lbc_Lon       2
    VN,lbc_Lat       2

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
from tiegcm.tiegcm import TIEGCM, Point3D, Point4D, Slice_key4D, ColumnSlice4D, ColumnSlice3D

In [ ]:
from tiegcm.util import average_longitude

In [ ]:
from tiegcm.tiegcm import TIEGCM

test_file = "../data/TIEGCM_CCMC/my_stuff/s_003.nc"
tiegcm = TIEGCM(test_file)

In [ ]:
from scipy.spatial import kdtree

from scipy.interpolate import LinearNDInterpolator
time = 3.5

In [ ]:
z_max = tiegcm.z.max()
z_test = 1.1*z_max
p4 = Point4D(time, z_test, 20.5, .5)

column_slicer = tiegcm.get_column_slicer_4D(p4)
z_column, lat_column, lon_column = tiegcm.get_3D_column(column_slicer)

time_index = column_slicer.time.start

In [ ]:
z = tiegcm.z[time_index, -1, :, :]
lat = tiegcm.lat_[-1]
lon = tiegcm.lon_[-1]

outer_points = np.array(zip(z.ravel()/z.max(), lat.ravel(), lon.ravel()))

tree = scipy.spatial.KDTree(outer_points)

z_test = 1.1*tiegcm.z[time_index, -1, :, :].max() # high altitude test

p4 = Point4D(time, z_test, 20.5, .5)
p = Point3D(*p4[1:])

distances, vertices = tree.query(p, p = 1, k = 3)

coord_indices = np.array(zip(*np.unravel_index(vertices, z.shape)))

lat_indices, lon_indices = coord_indices[:,0], coord_indices[:,1]

lnd_lat = LinearNDInterpolator(tree.data[vertices][:,1:], tiegcm.lat_[-1][lat_indices, lon_indices])
lnd_lon = LinearNDInterpolator(tree.data[vertices][:,1:], tiegcm.lon_[-1][lat_indices, lon_indices])
lnd_z = LinearNDInterpolator(tree.data[vertices][:,1:], tiegcm.z[time_index,-1, lat_indices, lon_indices])
assert (float(lnd_lat(p[1:])) == p.latitude)
assert (float(lnd_lon(p[1:])) == p.longitude)

In [ ]:
zz_top = z_column[:,-1,:,:]

In [ ]:
assert zz_top.min() <= lnd_z(p[1:]) <= zz_top.max()

compare with column

In [ ]:
pd.Series(column_slicer._asdict()).to_frame().T

In [ ]:
tiegcm.z[time_index,-1,lat_indices, lon_indices]

In [ ]:
tiegcm.z[time_index,-1,:,:].min(), tiegcm.z[time_index,-1,:,:].max()

In [ ]:
tree.data[vertices][:,1:]

In [ ]:
z_column.shape, lat_column.shape, lon_column.shape

In [ ]:
lat_column[-1], lon_column[-1]

In [ ]:
tiegcm.z[time_index, -1, :, :].max()

In [ ]:
height_index = -1

norm = tiegcm.z[time_index, height_index, :, :].max()

In [ ]:
data = [go.Surface( z=tiegcm.z[time_index, height_index, :, :]/norm,
                    x=tiegcm.lon,
                    y=tiegcm.lat,
                    opacity = .9,
                   name = 'max_height'
                    ),
        go.Surface( z=z_column[0, height_index, :, :]/norm,
                    x=lon_column[height_index],
                    y = lat_column[height_index],
                    opacity = 1,
                   name = 'column_height',
                    ),
        go.Scatter3d(x = [p.longitude], y =[ p.latitude],z = [p.height/norm], name = 'query', mode = 'markers'),
        go.Scatter3d(x = [lon[c[0], c[1]] for c in coord_indices], 
                     y = [lat[c[0], c[1]] for c in coord_indices], 
                     z = tiegcm.z[time_index,height_index, lat_indices, lon_indices]/norm, mode = 'markers')
]

iplot(data)

In [ ]:
p, time

In [ ]:
tiegcm.time_interpolate_high_altitude(p, 'Z', time)

# Scale height

Scale height given by 

$H(h) = KT_{top}/M_xg(h)$

$g(h) = g_0(r_e/(r_e+h))^2$

$g_0 = ?$

In [ ]:
p

In [ ]:
def scale_height(self, p, time, variable):
    print variable
    T = self.time_interpolate_high_altitude(p, 'TN', time)
    return T
scale_height(tiegcm, p, time, 'O2')

In [ ]:
tn = tiegcm.rootgrp.variables['TN']

In [ ]:
tn.__array__().max()

## Interpolator Call Graph

### time_interpolate(point, time)
* retrieves slice_key corresponding to point,time
* scales height down using self.z_scale
* wraps longitude into valid range
* calls `time_interpolators[slice_key](p, time)`

### self.time_interpolators[slice_key]
* a subclass of defaultdict
* if slice_key is not found: calls self.create_3Dtime_interpolator(slice_key)
* stores result

slice_key is a 4D slice that looks like this

In [ ]:
pd.Series(dict(time = (slice, (8,11, None)), 
               height = (slice, (None, None, None)),
               latitude = (slice, (35, 37, None)),
               longitude = (slice, (65, 67, None)),
               variable = 'Z'
              )).to_frame().T

### create_3Dtime_interpolator
* takes a 4d slice key and returns a TimeInterpolator object
* constructs two 3D interpolators corresponding to two time steps: calls self.get_3D_interpolator(slice_key, i) i $\in$ [0,1]
* returns a TimeInterpolator(interpolators)

### get_3D_interpolator(slice_key, i = 0)
* retrieves spatial data corresponding to time slice 
* z_column, lat_column, lon_column, i

### get_delaunay_3D
* scales the z_column by self.z_scale
* martials the vertices into points
* creates an instance of Delaunay(points)

## Cartesian interpolation

We need to convert the positions from spherical to cartesian in two place:
* time_interpolate
* get_delaunay_3D

We may also need the inverse transformation for testing

In [ ]:
from collections import namedtuple

In [ ]:
Point3DCartesian = namedtuple("Point3DCartesian", ['x','y','z'])
Point3DSpherical = namedtuple("Point3DSpherical", ['r','theta','phi'])

In [ ]:
from tiegcm.tiegcm import geo_to_spherical, spherical_to_cartesian, geo_to_cartesian

In [ ]:
geo_to_cartesian(Point3D(0, 90, 0))

for $ r \in [0, \inf), \theta \in [0, \pi], \phi \in [0, 2\pi) $
$$ x = r sin \theta cos \phi $$

$$ y = r sin \theta sin \phi $$

$$ z = r cos \theta $$

In [ ]:
print 'lat in', tiegcm.lat.min(), tiegcm.lat.max()
print 'lon in', tiegcm.lon.min(), tiegcm.lon.max()

In [ ]:
npoints = 10
h = np.linspace(0, 5, npoints)
lat = np.linspace(-25, 90, npoints)
lon = np.linspace(-30, 30, npoints)
geo = Point3D(h,lat,lon)

In [ ]:
pd.concat([pd.DataFrame.from_dict(geo._asdict()),
           pd.DataFrame.from_dict(geo_to_spherical(geo)._asdict()),
           pd.DataFrame.from_dict(geo_to_cartesian(geo)._asdict()),], axis = 1)

# Wrap error

In [ ]:
from tiegcm.tiegcm import TIEGCM
import numpy.ma as ma
from tiegcm.util import boundary_conditions

test_file = "../data/TIEGCM_CCMC/s010.nc"
tiegcm = TIEGCM(test_file)

In [ ]:
ne = tiegcm.rootgrp.variables['NE'].__array__()

In [ ]:
tn = tiegcm.rootgrp.variables['TN'].__array__()

In [ ]:
if tn[:,-1,:,:].mask.all():
    tn[:,-1,:,:] = tn[:,-2,:,:].data

In [ ]:
tn.filled(np.nan)

In [ ]:
ne.max()

In [ ]:
tn.max()

In [ ]:
tn.compress(~tn.mask.ravel()).shape

In [ ]:
tiegcm.set_variable_boundary_condition('TN',verbose = True)

In [ ]:
test_file = "../data/TIEGCM_CCMC/s010.nc"
tiegcm = TIEGCM(test_file)

In [ ]:
z_max = tiegcm.z.max()
z_test = 1.1*z_max

point = Point3D(z_test, -20.5, .5)
point2 = Point3D(2*z_test, -20.5, .5)
variable_name = 'DEN'
time = 3.5

den = tiegcm.time_interpolate(point, variable_name, time)
den

In [ ]:
from tiegcm.util import scale_height, gravity

T = tiegcm.time_interpolate(point, 'TN', time) # [K]

H_oxygen = scale_height(T, 0, 16)
H_oxygen # [m]

### Boundary height

In [ ]:
z_bndy = tiegcm.time_interpolate(point, 'Z', time) 
point3 = Point3D(1.0001*z_bndy, -20.5, .5)
print point3

### Mixing ratio

In meteorology, mixing ratio usually is defined as the mass of a constituent mi divided by the total mass of all other constituents in a mixture.

$$ mmr = m_i/(m_{tot} - m_i) $$

Therefore, 

$$ m_i = mmr(m_{tot} - m_i) = mmr \cdot m_{tot} - mmr \cdot m_i $$
$$ m_i(1 + mmr) = mmr \cdot m_{tot} $$
$$ m_i = mmr \cdot m_{tot}/(1+mmr) $$

### Mass density of molecular oxygen

In [ ]:
mmr_o = tiegcm.time_interpolate(point, 'O1', time)

den_o = mmr_o*den/(1+mmr_o)
den_o, den

In [ ]:
molecular_mass = dict(O1 = 16, O2 = 32, N2 = 28)

In [ ]:
molecular_mass

In [ ]:
point

# Mass density at any height h

$$ g = g_0 (r_E/(r_E+h))^2 $$

$$ H_X = kT^{bndy}/M_Xg $$

$$ n_X(h) = n_X^{bndy}\times \exp((h^{bndy}-h)/H_X) [m^{-3}] $$

$$ \rho(h) = 1.66053 \times 10^{-27} \times ( 16 \times n_0(h)+ 32 \times n_{O_2}(h) + 28 \times n_{N_2}(h) ) [kg/m^3]$$

In [ ]:
density_tot = tiegcm.time_interpolate(point, 'DEN', time) # total mass density

print time
density_tot

In [ ]:
tiegcm.mass_density(point,time)

In [ ]:
molecular_mass

In [ ]:
#mass_density(tiegcm, point3, 'O2', time)

In [ ]:
tiegcm.rootgrp.variables['TN'].shape

In [ ]:
tiegcm.ilev

In [ ]:
tiegcm.time_interpolate(point,'N2N', time)

In [ ]:
np.isclose(1e-11, 1e-12)

In [ ]:
tiegcm.rootgrp.variables['time']

# Global time interpolation

TIEGCM files have no date strings in the filename, so interpolation at an arbitrary point in time requires opening the files, extracting and storing their metadata somewhere. In order to handle this, we need a general time interpolator that is responsible for looking at what files are available in a given directory, extracts date-time ranges from them, then opens the appropriate one for interpolation.

In [ ]:
ls

In [7]:
import os
import pandas as pd
from tiegcm.tiegcm import Model_Manager
from tiegcm.util import time_in_interval

mm = Model_Manager('../data/TIEGCM_CCMC/2013.03.01.tie-gcm.data/')

mm.files
mm.file_times

xlat = -8.81183
xlon = 161.96608
xalt = 361.10342*1e5 #cm
time = 3.5 #ut hours

density = mm.density(xlat, xlon, xalt, pd.Timestamp('2013-03-01 1:00:02'))
print density

initializing tiegcm with ../data/TIEGCM_CCMC/2013.03.01.tie-gcm.data/s000.nc
initializing tiegcm with ../data/TIEGCM_CCMC/2013.03.01.tie-gcm.data/s001.nc
initializing tiegcm with ../data/TIEGCM_CCMC/2013.03.01.tie-gcm.data/s002.nc
initializing tiegcm with ../data/TIEGCM_CCMC/2013.03.01.tie-gcm.data/s003.nc
initializing tiegcm with ../data/TIEGCM_CCMC/2013.03.01.tie-gcm.data/s000.nc
initializing tiegcm with ../data/TIEGCM_CCMC/2013.03.01.tie-gcm.data/s001.nc
initializing tiegcm with ../data/TIEGCM_CCMC/2013.03.01.tie-gcm.data/s002.nc
initializing tiegcm with ../data/TIEGCM_CCMC/2013.03.01.tie-gcm.data/s003.nc
model manager initialized
current time (Timestamp('2013-02-28 16:20:00'), Timestamp('2013-03-01 00:00:00'))
create_3Dtime_interpolator - times [1.         1.33333333]
Slice_key4D(time=(<type 'slice'>, (2, 4, None)), height=(<type 'slice'>, (None, None, None)), latitude=(<type 'slice'>, (16, 18, None)), longitude=(<type 'slice'>, (68, 70, None)), variable='N2')
4.887322466825234e-15

In [ ]:
density = mm.density(xlat, xlon, xalt,  pd.Timestamp('2012-10-01 1:00:02'))
density

In [ ]:
mm.ut.min()